.app {
  padding-top: 2rem;
  padding-left: 15rem;
  padding-right: 15rem;
  min-height: 100vh;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24"><path fill="%230F1020" stroke="%230F1020" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>') 15 15, auto ;
}

li {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: x-large;
}

/* .tsparticles {
  z-index: -10;
  position: absolute;
  width: 100%;
  height: 100%;
} */



@media only screen and (max-width: 600px) {
  .app {
    padding: 1.5rem;
  }

  li {
    font-size: medium;
  }
}